<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<div style="text-align: right; padding: 10px;">
    <div th:if="${session.loginId == null}">
        <a href="/member/login">로그인</a>
        <a href="/member/save">회원가입</a>
    </div>
    <div th:if="${session.loginId != null}">
        <span th:text="${session.loginNickname} + '님 접속 중'"></span>
        <a href="/member/logout">로그아웃</a>
    </div>
</div>

<h2>게시글 목록</h2>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardCreatedAt}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>

<button onclick="saveReq()">글작성</button>
<button onclick="joinReq()">회원가입</button>

<script>
    const saveReq = () => {
        location.href = "/board/save";
    }
    const joinReq = () => {
        location.href = "/member/save";
    }
</script>
</body>
</html>