<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardCreatedAt}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>
<button onclick="saveReq()">글작성</button>
<button onclick="joinReq()">회원가입</button> <script>
    const saveReq = () => {
        location.href = "/board/save";
    }
    // 회원가입 페이지로 이동하는 함수 추가
    const joinReq = () => {
        location.href = "/member/save";
    }
</script>
</body>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }
</script>
</html>