<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<form action="/board/save" th:object="${boardDTO}" method="post">

    <div th:if="${session.loginEmail != null}">
        <p>작성자: <span th:text="${session.loginNickname}"></span></p>
        <input type="hidden" th:field="*{boardWriter}">
    </div>

    <div th:if="${session.loginEmail == null}">
        <input type="text" th:field="*{boardWriter}" placeholder="작성자 이름">
        <p th:if="${#fields.hasErrors('boardWriter')}" th:errors="*{boardWriter}" style="color: red;"></p>

        <input type="password" th:field="*{boardPass}" placeholder="비밀번호">
        <p th:if="${#fields.hasErrors('boardPass')}" th:errors="*{boardPass}" style="color: red;"></p>
    </div>

    <input type="text" th:field="*{boardTitle}" placeholder="제목">
    <textarea th:field="*{boardContents}"></textarea>

    <input type="submit" value="글작성">
</form>
</body>
</html>