<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<div th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></div>

<form action="/board/update" method="post">
    <input type="hidden" name="id" th:value="${boardUpdate.id}">

    <div th:if="${session.loginId != null}">
        <input type="hidden" name="boardWriter" th:value="${boardUpdate.boardWriter}">
        <input type="hidden" name="updatePass" th:value="${boardUpdate.boardPass}">
        <p>작성자: <span th:text="${boardUpdate.boardWriter}"></span> (수정 불가)</p>
    </div>

    <div th:if="${session.loginId == null}">
        writer: <input type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}"> <br>
        pass: <input type="password" name="updatePass"> <br>
    </div>

    title: <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
    contents: <textarea name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea> <br>
    <input type="submit" value="글수정">
</form>
<script th:if="${errorMessage}">
    alert('[[${errorMessage}]]');
</script>
</body>
</html>